:root {
    /* colors */
    --theme-lightest: #FFF6F6;
    --theme-light: #F8E3E3;
    --theme-normal: #FFB1B1;
    --theme-dark: #FF0205;
    --footer-color: #182F82;

    /* font-weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
}

#body {
    font-family: Inter, serif;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5vw;
    background: var(--theme-lightest);
}

/* header part begin */
#header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px 0px 10px 0px;
}

/* Do not let logo scale at any time */
.logo-img {
    width: 260px;
    height: 70px;
    flex-shrink: 0;
}

.header-entries {
    font-size: 15px;
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: normal;
    flex-shrink: 1;
}

.nav {
    display: flex;
    justify-content: center;
}

/* media queries for header part*/

/* large screen devices */
@media (min-width: 2000px) {
    .header-entries {
        font-size: 20px;
    }
}

/*
    For large screen devices
    Let header entry width grow together with screen width.
*/
@media (min-width: 1617px) {
    #header {
        width: 90vw;
    }
    .header-entries {
        flex: 1;
        display: flex;
    }
    .nav {
        flex: 1;
        justify-items: stretch;
    }
    .header-entry {
        flex-basis: fit-content;
        flex-grow: 1;
        text-align: center;
    }
}

/* mobile devices */
@media (max-width: 768px) {
    #body {
        width: 100vw;
        margin: 0 0;
    }

    #header {
        flex-direction: column;
    }

    .logo-img {
        width: 160px;
        height: auto;
        flex-shrink: 0;
    }

    .header-entries {
        font-size: 12px;
    }
}

.nav-link {
    border: 1px solid #000;
    background: var(--theme-normal);
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    color: #2647F5;
}
/* header part end */

/* carousel part begin */
.carousel {
    flex: 1;
    width: 90vw;
}

.carousel .carousel-indicators li {
    background-color: var(--theme-lightest);
}

.carousel .carousel-indicators li.active {
    background-color: var(--theme-dark);
}

.carousel .carousel-control-prev, .carousel-control-next{
    filter: invert(100%);
}

/* carousel part end */

/* main part begin */
#main-body {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 90vw;
    padding: 50px 0px 60px 0px;

    /* Let the components in main-body automatically wrap the text. */
    min-width: 0;
}

#main-body .media-name, .more-link-text {
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
    color: blue;
}

#main-body .media-name:hover, .more-link-text:hover {
    color: purple;
    text-decoration: underline;
}

/* sideboxes */
.sideboxes {
    width: 32.2vw;
    /*min-width: 405px;*/
    background-color: var(--theme-light);

    display: flex;
    flex-direction: column;
}

.sidebox {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section-title {
    background: var(--theme-normal);
    font-size: 32px;
    font-style: normal;
    font-weight: var(--font-weight-extra-bold);
    line-height: normal;
    padding: 17px 3vw;
    margin: 0 0 0 0;
    flex: 0;
}

.section-main {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;
    /*align-items: center;*/
    padding: 17px 17px;
    align-self: stretch;
    font-weight: var(--font-weight-medium);
    font-size: 16px;
}

/* sidebox contact */
#sidebox-contact {
    word-break: break-all;
}

#sidebox-contact .section-main {
    align-items: center;
}

#sidebox-contact .contact {
    align-self: stretch;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 45%;
    font-size: 14px;
}

#sidebox-contact .media {
    flex-shrink: 1;
    flex-direction: column;
    width: 55%;
    font-size: 14px;
}

#sidebox-contact .media .media-header {
    font-size: 18px;
    margin: 0 0 0 0;
}

#sidebox-contact .media-link {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

/*#sidebox-contact .media-link .media-name {*/
/*    color: #2647F5;*/
/*    text-decoration: underline;*/
/*}*/

#sidebox-contact .media-link .media-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* sidebox address */

#sidebox-address .address-p {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}

#sidebox-address .address-text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    flex-shrink: 1;
}

#sidebox-address .address-map {
    display: flex;
    width: 55%;
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;
}

#sidebox-address .address-map-img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* sidebox hours */

#sidebox-hours .hours-text {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-around;
    align-items: center;

    width: 45%;
    flex-shrink: 1;
}


#sidebox-hours .hours-condition-picker {
    display: flex;
    flex-direction: column;
    width: 55%;
    min-width: 250px;
    align-items: flex-start;
}

#sidebox-hours .hours-condition-picker .hours-department {
    width: 100%;
    max-width: 250px;
    padding-bottom: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sidebox-hours .hours-detail {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

#sidebox-hours .hours-bold-text {
    font-weight: var(--font-weight-bold);
}

#sidebox-hours .hours-calendar {
    min-width: 250px;
    min-height: 240px;
    flex-shrink: 1;
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    /*background: #FFFFFF;*/
}

#sidebox-hours .datepicker {
    width: 100%;
    min-width: 250px;
    min-height: 240px;
    flex-shrink: 1;
    align-self: stretch;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* ensure calendar is correctly formatted */
.table-condensed {
    min-width: 250px;
    min-height: 240px;
}

/* intros */
.intros {
    width: 55.2vw;
    background-color: var(--theme-light);

    display: flex;
    flex-direction: column;
}

.intro {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.intro-banner {
    flex: 0;
    background: var(--theme-normal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-banner .intro-title {
    font-size: 32px;
    font-style: normal;
    font-weight: var(--font-weight-extra-bold);
    line-height: normal;
    padding: 17px 0 17px 3vw;
    margin: 0 0 0 0;
}

.intro-banner .more-link {
    padding: 17px 3vw 17px 0;
}

.intro-banner .more-link-text {
    font-size: 18px;
    font-style: normal;
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
}

.intro-main {
    flex: 1;
    display: flex;
    padding: 17px 28px 0px 28px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 30px;
}

.intro-with-pic {
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.intro-with-pic .intro-text {
    width: 80%;
    align-self: stretch;
}

.intro-with-pic .intro-img {
    display: flex;
    width: 20%;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    overflow: hidden;
    position: relative;
}

.intro-with-pic #intro-skincare-img {
    align-self: stretch;
    width: 240px;
    display: block;
}

.intro-with-pic #intro-weightloss-img {
    align-self: stretch;
    width: 300px;
    display: block;
}

.intro-with-pic #intro-more-img {
    align-self: stretch;
    width: 300px;
    display: block;
}

/* media queries for main part*/

/* tablet and mobile devices */
@media (max-width: 1024px) {
    #main-body {
        flex-direction: column;
    }

    .sideboxes, .intros {
        width: 90vw;
        min-width: 0;
    }

    #sidebox-contact .contact {
        align-items: center;
    }

    #sidebox-contact .media {
        padding-left: 50px;
    }

    #sidebox-hours .hours-department {
        align-self: stretch;
    }

    #sidebox-hours .hours-detail {
        padding-bottom: 30px;
    }

    #sidebox-hours .datepicker {
        justify-content: flex-start;
    }
}

/* mobile devices */
@media (max-width: 768px) {
    #main-body {
        width: 100vw;
    }

    .sideboxes, .intros {
        width: 100vw;
    }

    #sidebox-contact .media {
        padding-left: 0;
    }

    #sidebox-address .address-text {
        padding-bottom: 15px;
    }

    #sidebox-address .address-map {
        justify-content: center;
    }

    #sidebox-hours .hours-detail {
        padding-top: 20px;
        padding-bottom: 0;
    }

    #sidebox-hours .hours-condition-picker {
        width: 100%;
    }

    #sidebox-hours .hours-condition-picker .hours-department {
        max-width: unset;
    }

    .section-main {
        flex-direction: column;
        justify-content: center;
        justify-self: stretch;
        align-items: stretch;
    }

    #sidebox-contact .contact {
        width: 100%;
    }
    #sidebox-contact .media {
        width: 100%;
        align-items: center;
    }

    #sidebox-address .address-text {
        width: 100%;
    }
    #sidebox-address .address-map {
        width: 100%;
        height: auto;
        align-items: center;
    }

    #sidebox-hours .section-main {
        gap: 20px;
    }

    #sidebox-hours .hours-text {
        width: 100%;
        align-items: center;
    }
    #sidebox-hours .hours-calendar {
        width: 100%;
        align-items: center;
    }

    #sidebox-hours .datepicker {
        justify-content: center;
    }

    .section-title {
        font-size: 22px;
    }

    .intro-banner .intro-title {
        font-size: 22px;
    }

    #intro-weightloss {
        flex-direction: column;
    }

    #intro-skincare, #intro-more {
        flex-direction: column-reverse;
    }

    .intro-with-pic .intro-text {
        width: 100%;
    }

    .intro-with-pic .intro-img {
        width: 100%;
    }
}

/* main part end */

/* footer part begin */
.footer {
    margin: 0 -5vw;
    display: flex;
    flex-direction: row;
    padding: 7px 44px 0px 44px;
    justify-content: center;
    align-items: center;
    gap: 5vw;

    align-self: stretch;
    width: 100vw;
    background-color: var(--footer-color);
}

.footer .footer-section {
    display: flex;
    padding: 20px 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}

.footer .footer-title {
    color: #FFF;

    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: var(--font-weight-extra-bold);
    line-height: normal;
}

.footer .footer-mains {
    flex: 2;
    display: flex;
    flex-direction: row;
}

.footer .footer-main {
    list-style: none;

    color: #FFF;
    width: 300px;

    font-size: 16px;
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: normal;
}

.footer .footer-link {
    text-decoration: underline;
    color: #FFF;
}

.footer .footer-link:hover {
    color: #76D6FF;
    text-decoration: underline;
}


/* media queries for footer part*/

/* tablet and mobile devices */
@media (max-width: 1024px) {
    .footer{
        flex-direction: column;
    }
}

/* mobile devices */
@media (max-width: 768px) {
    .footer {
        margin: 0 0;
    }
    .footer .footer-mains {
        flex-direction: column;
    }
}

@media (max-width: 300px) {
    .footer .footer-main {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }
}

/* footer part end */